<%- include partials/header.ejs %>
<h1>Home</h1>
<%= homeStartingContentPr %>

<% postList.forEach(function(elemet){ %>
<div>
   <label><%= elemet.title%></label>
</div>

<div>
  <p><%= elemet.body.substring(0, 100) + "..." %>
<a href="/posts/<%= elemet.title%>">Read Me</a>
  </p>
</div>
<% }) %>

<%- include partials/footer.ejs %>
